

body
{
  background-color: black;
}

.container-1
{
  margin: 0 auto;  
  width: 80%;
  margin-top: 140px;
}
.mainHeading 
{
   text-align: left;
   color: aliceblue;
   font-family: "Montserrat", sans-serif;
   font-size: 50px;
   
}

.grad
{
   
   text-align: left;
   color: aliceblue;
   font-family: "Montserrat", sans-serif;
   font-size: 50px;
   background-color: #ebebe7;
  background-image: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.bodyText
{
  text-align: left;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.bodyText1
{
  text-align: center;
  color: aliceblue;
  /* color: #6F7A90; */
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-top: 15px;
}

.gradBody
{
  text-align: left;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background-color: #ebebe7;
  background-image: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#getStarted {
  margin: 0 auto;
  justify-content: left;
  /* margin-left: 400px; */
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 15px;
}
.atsImg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    margin-bottom: 20px;
    /* margin-top: 50px; */
    
}

.container-2
{
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
}
.heading-2
{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  font-size: 40px;

}

.navbar-brand
{
  font-family: "Montserrat", sans-serif;
}

.navbar-nav
{
  font-family: "Montserrat", sans-serif;
}

.container-3
{
  margin: 0 auto;
  width: 80%;
  margin-top: 40px;
  border: 1px solid white;
  padding: 20px;
  border-radius: 15px;
}

.heading-3
{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  font-size: 35px;
}

.grad-2
{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  font-size: 35px;
  background-color: #ebebe7;
  background-image: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.row {
  overflow: hidden;
  padding: 10px;
}

.col {
  float: left;
  width: 50%;
}

.label
{
  color: aliceblue;
  text-align: left;
  font-family: "Montserrat", sans-serif;

}

.inputlink
{
    margin: auto;
    width: 90%;
    background-color: black;

}

.submitbtn{
    padding-top: 20px;
    padding-bottom: 20px;
  
  }
  .submitbtn input[type="submit"] {
      background: linear-gradient(110.6deg, rgb(184, 142, 252) 2.2%, rgb(104, 119, 244) 100.2%);
      border: none;
      color: white; /* You may need to adjust the text color for better visibility */
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }

    .text-break
    {
        color: aliceblue;
        font-weight: 200;
        font-family: "Montserrat", sans-serif;

    }

    .out
    {
      color: white;
    }
